* {
    box-sizing: border-box;
  }
  
  
  body {
    overflow-x: hidden;
  }
  
  a {
    color: unset;
    text-decoration: none;
    cursor: pointer;
  }
  
  .banner {
    scale: 1.05;
  }
  
  .slick-dots {
    bottom: 12px !important;
    width: unset  !important;
    right: 12px;
  
    li button:before {
      color: white !important;
    }
  }
  
  .model {
    position: fixed;
    background-color: #000000a8;
    height: 100vh;
    top: 0px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    .model-body {
        width: 100%;
        background-color: white;
        max-width: 700px;
        border-radius: 4px;
        border-left: 3px solid #ff6700;
        padding: 1rem;
        display: flex;
        justify-content: space-evenly;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        text-transform: capitalize;
        align-items: baseline;
      }
      
  }
  
 
  .logo-finalize {
    img {
      width: 60px;
    }
  
    .span {
      font-size: 20px;
      letter-spacing: 1px;
      margin-bottom: 0rem;
    }
  
    .btm {
      font-size: 14px;
      margin-bottom: 0rem;
    }
  }
  
  ul {
    list-style-type: none;
    padding-left: 0px;
  }
  .form-gradien{
    background-color: #f5d020;
    background-image: linear-gradient(315deg, #f5d020 0%, #f53803 74%);
 

    min-height: 30vh;
 
  }
  .contactpage{
      position: absolute;
      height: 50vh;
      width: 100%;
      top: 0px;
      background: #FFF3EB;
      transform: scale(1, 1);
      left: 0px;
      z-index: -100;
  


&::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    z-index: -100;
    height: 300px;
    background-color: white;
    right: -25%;
    top: 406px
}

&::after {
    content: "";
    display: block;
    z-index: -101;
    position: absolute;
    border-radius: 100%;
    width: 100%;
    height: 72vh;
    background-color: #FFF3EB;
    left: -25%;
    top: -147px;
    clip-path: ellipse(100% 15% at -15% 100%);
}
}
