@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
}
body {
overflow-x:hidden ;
}

.banner{
  scale: 1.05;
}
.slick-dots {
  bottom: 12px !important;
  width: unset  !important;
  right: 12px;
}
.slick-dots li button:before {

  color: white !important
}
.faqs {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
 
}

.model{
    position: fixed;
    background-color: #000000a8;
    height: 100vh;
    top: 0px;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;

}
.model-body{
  width: 100%;

  background-color: white;
  max-width: 700px;
  border-radius: 4px;
  border-left: 3px solid orange;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-transform: capitalize;
  align-items: baseline;
}
/* 
.faqs .faq {
  border-radius: 10px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
} */

.faqs .faq .faq-question {
  position: relative;
  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: "+";
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  transition: all 0.2s ease;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease;
}

.faqs .faq.open .faq-question {
  margin-bottom: 15px;
}

.faqs .faq.open .faq-question::after {
  content: "-";
}

.faqs .faq.open .faq-answer {
  max-height: 1000px;
  opacity: 1;
}
