* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  color: unset;
  text-decoration: none;
  cursor: pointer;
}

.banner {
  scale: 1.05;
}

.slick-dots {
  bottom: 12px !important;
  width: unset !important;
  right: 12px;
}
.slick-dots li button:before {
  color: white !important;
}

.model {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6588235294);
  height: 100vh;
  top: 0px;
  width: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
.model .model-body {
  width: 100%;
  background-color: white;
  max-width: 700px;
  border-radius: 4px;
  border-left: 3px solid #ff6700;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  text-transform: capitalize;
  align-items: baseline;
}

.logo-finalize img {
  width: 60px;
}
.logo-finalize .span {
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0rem;
}
.logo-finalize .btm {
  font-size: 14px;
  margin-bottom: 0rem;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}